body {color: purple; background-color: lavender}
p {margin: 10px; color: purple}
h1 {font-Family: italic; font-size: 2.5em; text-decoration: underline; color: green; text-transform: capitalize}
h2 {color: blue; text-decoration: none}
li {
  margin: 5px 0;
  text-transform: uppercase;
}
.lastLine{color: red}

.two-column-layout{ clear: both }

.column {float: left;
    width: 48%;
    margin: 1%;}


img {
  width:250px;
  border-radius:15px;
  box-shadow: 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
}
.image {
  background: url("img/instructions.jpeg"); 
  width: 250px;
  height: 200px;
  border-radius: 15px; 
  box-shadow: 10px 10px 10px;
}

.container {
  display: grid;
  width: 80%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.things {
  float: left; 
  margin: auto;
}

.ingredients {
  float: left ;
  width: 48%;
}

.procedure {
float: right;
width: 48%

}

.steps {
  float: right;
    width: 80%;
    border: 1px solid #ccc;
    padding: 20px;
}

.footer {
  grid-area: footer;
  background-color: #333; 
  color: white; 
  padding: 10px; 
}
a:link {
    color: #007bff; 
    text-decoration: none; 
}

a:visited {
    color: #800080; 
}

a:hover {
    color: #FF4500; 
    text-decoration: underline; 
}